.iconoTransicion{
    transition: scale 3s;
}

.iconoTransicion:hover{
    transform:  scale(1.3);
    filter: opacity(.5);

 
}


.iconoZoom {
    animation: zoom 5s infinite;
  }
  
  @keyframes zoom {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

  .iconoZoomCarritoHover:hover {
    animation: zoom 5s infinite;
  }
  
  @keyframes zoomCarritoHover {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
