.imgFondo{
    object-fit: cover;
    width: 100%;
    height:25vh;
  }

  .parrafoSmall{
    font-size: small;
  }


  .imgCardProductos{

    height: 420px;
    width: 80%;
    padding-top: 10px;
    border-radius: 10%;
  }